.company {
    font-size: 18px;
    color: rgb(239, 238, 245);
    font-weight: normal;
}

.date {
    font-size: 18px;
    color: rgb(239, 238, 245);
    font-weight: bold;
}

.ul-exp h4,p {
    margin-top: 4px;
}


